<%= simple_form_for([@contact, @contact.memberships.build]) do |f| %>
  <p>
    <%= f.label "Membership plan" %>
    <%= collection_select(:membership, :plan_id, Plan.all, :id, :name, {:prompt => 'Select Membership Plan...'}) %>
  </p>
  </p>
    <%= f.input :start, as: :date %>
  </p>
  <p>
    <%= f.input :stop, as: :date, include_blank: :true %>
  </p>
  <p>
    <%= f.submit 'Add Membership' %>
  </p>
<% end %>
