<h1>Editing Membership</h1>

<%= simple_form_for(@membership, url: contact_membership_path) do |f| %>
  <p>
    <%= f.label "Membership plan" %>
    <%= collection_select(:membership, :plan_id, Plan.all, :id, :name, {:prompt => 'Select Membership Plan...'}) %>
  </p>
  </p>
    <%= f.input :start, as: :date %>
  </p>
  <p>
    <%= f.input :stop, as: :date %>
  </p>
  <p>
    <%= f.submit 'Add Membership' %>
  </p>
<% end %>

<%= link_to 'Show', @memberships %> |
<%= link_to 'Back', contact_memberships_path(@contact) %>
