<p id="notice"><%= notice %></p>

<table>
  <tbody>
    <tr>
      <td><strong>Name</strong></td>
      <td><%= @contact.name %></td>
    </tr>
    <tr>
      <td><strong>Email</strong></td>
      <td><%= @contact.email %></td>
    </tr>
  </tbody>
</table>
<h1>Membership</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Plan</th>
      <th>Start</th>
      <th>End</th>
    </tr>
  </thead>

  <tbody>
    <% @memberships.each do |membership| %>
      <tr>
        <td><%= membership.id %></td>
        <td><%= membership.plan.name %></td>
        <td><%= membership.start %></td>
        <td><%= membership.stop %></td>
        <td><%= link_to 'Edit', edit_contact_membership_path(@contact, membership) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
