<p id="notice"><%= notice %></p>
<h1>Member Info</h1>
<table>
  <tbody>
    <tr>
      <td><strong>Name</strong></td>
      <td><%= @contact.name %></td>
    </tr>
    <tr>
      <td><strong>Email</strong></td>
      <td><%= @contact.email %></td>
    </tr>
  </tbody>
</table>
<p>
<%= link_to 'Create Invoice', new_contact_invoice_path(@contact) %>
</p>

<h2>Ledger Items</h2>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Issue Date</th>
      <th>Due Date</th>
      <th>Status</th>
      <th>Total</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @ledger_items.each do |li| %>
      <tr>
        <td><%= li.id %></td>
        <td><%= li.issue_date %></td>
        <td><%= li.due_date %></td>
        <td><%= li.status %></td>
        <td><%= li.total_amount %></td>
        <td><%= link_to 'Show', contact_invoice_path(@contact, li) %></td>        
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Membership</h2>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Plan</th>
      <th>Start</th>
      <th>End</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @memberships.each do |membership| %>
      <tr>
        <td><%= membership.id %></td>
        <td><%= membership.plan.name %></td>
        <td><%= membership.start %></td>
        <td><%= membership.stop %></td>
        <td><%= link_to 'Edit', edit_contact_membership_path(@contact, membership) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
