<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns">
  <h4 class="text-center">Edit <%= resource_name.to_s.humanize %></h4>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
  <div class="row column log-in-form">
    <%= devise_error_messages! %>

      <%= f.label :name %>
      <%= f.text_field :name, :autofocus => true %>
      <%= f.label :email %>
      <%= f.email_field :email %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    <fieldset>
      <p>Leave these fields blank if you don't want to change your password.</p>
        <%= f.label :password %>
        <%= f.password_field :password, :autocomplete => 'off' %>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation%>
    </fieldset>
    <fieldset>
      <p>You must enter your current password to make changes.</p>
        <%= f.label :current_password %>
        <%= f.password_field :current_password %>
    </fieldset>
    <%= f.submit 'Update', :class => 'button expanded' %>
  </div>
  <% end %>
</div>
</div>
