<h4>Admin Activities</h4>
<ul>New Member Workflow
  <li><%= link_to "Add User", new_user_invitation_path() %></li>
  <li><%= link_to "New Subscription", new_subscription_path() %></li>
  <li><%= link_to "Collect Payment" %></li>
</ul>
<ul>General
  <li><%= link_to "Apply PayPal Payments", payment_notifications_path() %></li>
  <li><%= link_to 'Manage User Roles', users_path %></li>
</ul>
<h4>Application Management</h4>
<ul>
  <li><%= link_to "Settings" %></li>
  <li><%= link_to "Membership Plans", plans_path() %></li>
  <li><%= link_to 'Administrate DB', admin_root_path %></li>
</ul>
