<%= simple_form_for(@key) do |f| %>
  <%= f.error_notification %>

  <h3>Key: <%= @key.identifier %></h3>
  <div class="form-inputs">
    <% if @key.assigned.nil? %>
    <%= f.label "User" %>
    <%= collection_select(:key, :user_id, User.all, :id, :name, {:prompt => 'Select User'}) %>
    <% elsif @key.returned.nil? %>
    <p><%= @key.user.name unless @key.user.nil? %> is returning their key?</p>
    <% end %>
  </div>

  <div class="form-actions">
    <% if @key.assigned.nil? %>
    <%= f.button :submit, 'Assign' %>
    <% elsif @key.returned.nil? %>
    <%= f.button :submit, 'Return Key' %>
    <% end %>
  </div>
<% end %>
