<p id="notice"><%= notice %></p>

<h1>Payments</h1>

<table>
  <thead>
    <tr>
      <th>PayPal User</t>
      <th>Transaction ID</th>
      <th>Status</th>
      <th>Purchased</th>
      <th>Applied To</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @payment_notifications.each do |payment| %>
      <tr>
        <td><%= payment.name %>
        <td><%= payment.transaction_id %></td>
        <td><%= payment.status %></td>
        <td><%= payment.purchased_at %></td>
        <td><%= payment.user.name if payment.applied %></td>
        <td><%= link_to 'Show', payment_notification_path(payment) %></td>
        <% if payment.applied %>
        <td></td>
        <% else %>
        <td><%= link_to 'Apply', edit_payment_notification_path(payment) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
