<p id="notice"><%= notice %></p>

<h1>Addons</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Active</th>
      <th>Authrequired</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @addons.each do |addon| %>
      <tr>
        <td><%= addon.name %></td>
        <td><%= addon.price %></td>
        <td><%= addon.active %></td>
        <td><%= addon.authrequired %></td>
        <td><%= link_to 'Show', addon %></td>
        <td><%= link_to 'Edit', edit_addon_path(addon) %></td>
        <td><%= link_to 'Destroy', addon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Addon', new_addon_path %>
