
<h1>Subscriptions</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Price</th>
      <th>Start</th>
      <th>Stop</th>
      <th colspan="1"/>
    </tr>
  </thead>

  <tbody>
    <% @subscriptions.each do |s| %>
      <tr>
        <td><%= s.user.name %></td>
        <td><%= s.plan.price %></td>
        <td><%= s.start %></td>
        <td><%= s.stop %></td>
        <td><%= link_to 'Show', account_path(s.user.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subscription', new_subscription_path %>
