
<h1>Active Subscriptions</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Plan</th>
      <th>Start</th>
      <th>Stop</th>
      <th>Last Billed</th>
      <th>Balance</th>
      <th colspan="1"/>
    </tr>
  </thead>

  <tbody>
    <% @subscriptions.active.each do |s| %>
      <tr>
        <td><%= s.user.name %></td>
        <td><%= s.plan.name %></td>
        <td><%= s.start %></td>
        <td><%= s.stop %></td>
        <td><%= s.last_billed %></td>
        <td><%= s.user.balance %></td>
        <td><%= link_to 'Show', account_path(s.user.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subscription', new_subscription_path %>
<%= render 'billings/bill_active_members' %>
