<%= render 'layouts/accounting_links' %>

<h1>Member Info</h1>
<table>
  <tbody>
    <tr><td>Name:</td><td><%= @user.name %></td></tr>
    <tr><td>Email:</td><td><%= @user.email %></td></tr>
  </tbody>
</table>

<h1>Ledger</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Amount</th>
      <th>Balance</th>
      <th>Notes</th>
    </tr>
  </thead>

  <tbody>
    <% @lines.each do |line| %>
      <tr>
        <td><%= line.code.capitalize %></td>
        <td><%= line.amount %></td>
        <td><%= line.balance %></td>
        <td><% line.metadata.each  do |note| %>
          <%= note.key %>: <%= note.value %>
        <% end %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="1"></td>
      <td>Balance</td>
      <td><%=@lines.last.balance unless @lines.last.nil? %></td>
      <td colspace="1"/>
    </tr>
  </tbody>
</table>

<%= simple_form_for :refund, :url => url_for(:action => 'update', :controller => 'refunds'),
    :method => 'put' do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :amount, as: :decimal %>
    <%= f.input :note, as: :text %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Create Refund" %>
  </div>
<% end %>
