<p id="notice"><%= notice %></p>

<%= @members.count.count %> members

<h1>Members</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
        <td><%= member.email %></td>
        <td><%= member.phone %></td>
        <td><%= link_to 'Show', contact_memberships_path(contact_id: member.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
