<%= render 'layouts/accounting_links' %>

<h1>Member Info</h1>
<table>
  <tbody>
    <tr><td>Name:</td><td><%= @user.name %></td></tr>
    <tr><td>Email:</td><td><%= @user.email %></td></tr>
  </tbody>
</table>
<h1>Subscriptions</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Start</th>
      <th>Stop</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @subscriptions.each do |s| %>
      <tr>
        <td><%= s.plan.name %></td>
        <td><%= s.plan.price %></td>
        <td><%= s.start %></td>
        <td><%= s.stop %></td>
        <td><% if @current_user.admin? %><%= link_to 'Edit', edit_subscription_path(s.id) %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% unless @key.nil? %>
<h1>Key</h1>
<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Assigned</th>
      <th>Returned</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @key.identifier %></td>
      <td><%= @key.assigned %></td>
      <td><%= @key.returned %></td>
    </tr>
  </tbody>
</table>
<% end %>
<h1>Ledger</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Amount</th>
      <th>Balance</th>
      <th>Notes</th>
    </tr>
  </thead>

  <tbody>
    <% @lines.each do |line| %>
      <tr>
        <td><%= line.code.capitalize %></td>
        <td><%= line.amount %></td>
        <td><%= line.balance %></td>
        <td><% line.metadata.each  do |note| %>
          <%= note.key %>: <%= note.value %>
        <% end %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="1"></td>
      <td>Balance</td>
      <td><%= @receivables.balance %></td>
      <td colspace="1"/>
    </tr>
  </tbody>
</table>

<% if Rails.env.development? %>
  <%= link_to('Pay Balance with PayPal', paypal_payments_path) %>
<% end %>
